$headerBack: #628fbf;
$headerMainText: #edf3fa;
$headerLink: #ccdbeb;

$leftAsideBack: #b2c3df;
$leftAsideText: #7d8d9f;

$rightAsideBack: #efecf2;
$linkColor: #84b7ff;

$mainBack: #f7fafc;

$mainMessageOut: #7ae583;
$mainMessageOutTitle: #6abf63;
$mainMessageIn: #59c0f7;
$mainMessageInTitle: #638fbf;
$mainTime: #a3bad4;


$online: #a3d671;
$onlineBorder: #7daf48;
$offline: #ed6666;
$offlineBorder: #af3637;

$leftAsideWidth: 20%;
$rightAsideWidth: 20%;
$width: 100% - $leftAsideWidth - $rightAsideWidth;