

.status {
  margin-right: 10px;
  @include border-radius(50%);
  width: 10px;
  display: inline-block;
  height: 10px;
}

.online {
  @extend .status;
  @include border(1px, $onlineBorder);
  background: $online;
}

.offline {
  @extend .status;
  @include border(1px, $offlineBorder);
  background: $offline;
}



