// Font
$font-family: 'Helvetica Neue', Open Sans, sans-serif;

//Weight
$light: 100;
$lighter: 200;
$normal: 400;
$bold: 600;
$bolder: 800;

//Size
$header-1: 2em;
$header-2: 1.4em;
$content: 1em;
$sign: 0.9em;

