.contacts {
  @include box-shadow(0, 1px, 1px, 0.5px, rgba(0, 0, 0, 0.2));
  background: $leftAsideBack;
  display: inline-block;
  float: left;
  width: $leftAsideWidth;
  height: 100%;
  font-size: 1.2em;

}