.header {

  background: $headerBack;
  display: block;
  height: $headerHeight;
  line-height: $headerHeight;
  padding: 0 20px;
  vertical-align: middle;
  color: $headerMainText;
  @include box-sizing();

}