.links {
  @include box-shadow(inset, -1px, 1px, 1px, 0.5px, rgba(255, 255, 255, 0.2));
  background: $rightAsideBack;
  display: inline-block;
  float: left;
  width: $rightAsideWidth;
  height: 100%;
}